

.hello {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
.he {
  margin: 0 auto;
  justify-content: center;
  width: 80%;
  max-width: 900px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn{
  text-align: center;
    background-color:#002ead;
    transition: 0.7s;
}
.helloo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.search-input {

  padding: 8px;
  border-radius: 20px;
  height: 20px;
  width: 500px;
}
.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.helo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.add-form {
    text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  width:auto;
}


.form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.form-row .form-input {
  margin-left: 10px;
}

.form-label {
  margin-inline: 20px;
  font-weight: initial;
  margin-bottom: 10px;
  text-align: right;
}
.form-labell {
  font-weight: initial;
  margin-bottom: 10px;
  text-align: right;
}


.form-inputt {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1;
}
.form-inputtt {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  width: 180px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1;
}
.form-input{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-inline: 15px;
  align-items: center;
  justify-content: center;
  width: 80px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1;
}

.form-row input[type="text"] + input[type="text"] {
  margin-left: 20px;
}


.form-btn {
  padding: 10px;
  border-radius: 5px;
  width: 170px;
  border: none;
  background-color: #73d757;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.form-btnn {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 50px;
  border: none;
  background-color: #ca8383;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.na {
  border-collapse: collapse;
  width: 100px;
}
.jj {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.form-btn:hover {
  background-color: #0062cc;
}
.form-btnn:hover {
  background-color: #3bcf5b;
}


.contacts-table-container {
  border: 1px solid black;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

.contacts-table {
  padding: 12px;
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.contacts-table th {
  border: 1px solid black;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.contacts-table td {
  border: 1px solid black;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.contacts-table tr:hover {
  border: 1px solid black;
  background-color: #e6e6e6;
}

.contacts-table .delete-btn {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}
